html {
    max-height: fit-content;
    background-color: rgba(136, 219, 183, 0.231);
}

body {
    max-height: fit-content;
    margin: 0;
    font-family: arial, sans-serif;
}

header {
    background-color: #113468;
    color: #fff;
    padding: 1em;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-size: 0.875em;
    color: #fff;
}

button {
    background-color: rgb(179, 216, 255);
    position: relative;
    top: 0.125em;
    width: 9em;
    height: 3em;
    border-radius: 0.25em;
    font-size: 0.9rem;
}

button:hover {
    background: rgb(179, 187, 255);
}

button:active {
    background: rgb(179, 241, 255);
}

main {
    width: 100%;
}

div.container {
    background: #87bcdb;
    color: #113468;
    width: 64vw;
    max-width: 32rem;
    margin: 1.5em auto 0 auto;
    padding: 0 1em;
    padding-bottom: 2.4em;
    height: fit-content;
    text-align: center;
    border-radius: 0.5em;
}

form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.containerin form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 0fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.form textarea {
    width: 64vw;
    max-width: 25.6em;
    height: calc(8em + 2.4vh);
    background-color: #dcefff;
    border-radius: 1.6px;
    border: 1.6px solid #8c9faa;
    font-size: 0.9rem;
}

ul {
    list-style: none;
    margin: 1em 0;
    text-align: center;
}

li {
    display: inline-block;
    padding-right: 0.25em;
}

input {
    background-color: #dcefff;
    border-radius: 1.6px;
    border: 1.6px solid #8c9faa;
    text-align: center;
    appearance: none;
    padding: 0.5em 0.8em;
    border: none;
    margin-top: 0.25em;
    font-size: calc(0.88rem + 0.24vw);
    max-height: calc(3.2vh + 0.8vw);
}

.Iselect {
    background-color: #dcefff;
    border-radius: 1.6px;
    border: 1.6px solid #8c9faa;
    text-align: center;
    appearance: none;
    padding: 0.5em 0.8em;
    border: none;
    margin-top: 0.25em;
    max-height: calc(5.6vh + 1.4vw);
    min-height: calc(2.08vh + 0.52vw);
    font-size: calc(0.88rem + 0.24vw);
}

label {
    padding-top: calc(1.6vh + 0.4vw);
    height: calc(1.6vh + 0.4vw);
    margin-bottom: calc(0.8vh + 0.2vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: calc(0.72em + 0.16vw);
    color: #113468;
    text-transform: uppercase;
}

.form p {
    margin-bottom: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(0.64em + 0.16vw);
    color: #80543c;
}

input:focus {
    background-color: rgb(253, 247, 244);
}

.formbutton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -8%);
}

@media screen and (max-width: 902px) {
    .products {
        max-width: 42.4em;
    }
}

table {
    border: 1px solid black;
    font-size: 10pt;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 2.4vh;
}

th,
td {
    border: 1px solid black;
    max-width: fit-content;
    text-align: left;
    border-bottom: 1px solid #fff;
}

th {
    background-color: #1b2838;
    color: #fff;
}

#searchInput {
    display: inline-block;
    padding: 0.625em 1.25em;
    background-color: #2b3d52;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    font-size: 12pt;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchInput::placeholder {
    color: #ccc;
}

#searchInput:focus {
    outline: none;
    background-color: #1b2838;
}

.search-container {
    padding-bottom: 1em;
}

.containerS {
    background: #87bcdb;
    color: #113468;
    width: 69vw;
    margin: 1.5em auto 0 auto;
    padding: 0 1em;
    padding-bottom: 2.4em;
    height: fit-content;
    max-height: 48em;
    text-align: center;
    border-radius: 0.5em;
}

.container h1 {
    color: #113468;
    margin-bottom: 2.4vh;
}

.search_button {
    display: inline-block;
    padding: 0.625em 1.25em;
    background-color: #2b3d52;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    font-size: 12pt;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search_button:hover {
    background-color: #1b2838;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    text-align: center;
}

.content h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.content p {
    font-size: 1em;
    margin-bottom: 1em;
}

.content a {
    background-color: rgb(179, 216, 255);
    width: 5em;
    height: 2.1875em;
    border-radius: 0.25em;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

.content a:hover {
    background-color: rgb(179, 187, 255);
}

.content a:active {
    background-color: rgb(179, 241, 255);
}