html {
    max-height: fit-content;
    background-color: rgba(136, 219, 183, 0.231);
}

body {
    max-height: fit-content;
    margin: 0;
}

button {
    background-color: rgb(179, 216, 255);
    position: relative;
    top: 2px;
    width: 80px;
    height: 35px;
    border-radius: 4px;
    font-size: 0.9rem;
}

button:hover {
    background: rgb(179, 187, 255);
}

button:active {
    background: rgb(179, 241, 255);
}

body {
    font-family: arial, sans-serif;
}

main {
    width: 100%;

}

div.container {
    background: #87bcdb;
    color: #113468;
    width: 64vw;
    max-width: 32rem;
    margin: 48px auto 0px auto;
    padding: 0px 16px;
    padding-bottom: 2.4em;
    height: fit-content;
    max-height: 48em;
    text-align: center;
    border-radius: 8px;
}

form {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.containerin form {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 0fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.form textarea {
    width: 25.6rem;
    height: 8rem;
    background-color: #dcefff;
    border-radius: 1.6px;
    border: 1.6px solid #8c9faa;
    font-size: 0.9rem;
}

ul {
    list-style: none;
    margin: 16px 0px;
    text-align: center;
}

li {
    display: inline-block;
    padding-right: 4px;
}

input {
    background-color: #dcefff;
    border-radius: 1.6px;
    border: 1.6px solid #8c9faa;
    text-align: center;
    appearance: none;
    padding: 8px 12.8px;
    border: none;
    margin-top: 4px;
    font-size: 0.88rem;
    max-height: 3.2vh;
}

.Iselect {
    background-color: #dcefff;
    border-radius: 1.6px;
    border: 1.6px solid #8c9faa;
    text-align: center;
    appearance: none;
    padding: 8px 12.8px;
    border: none;
    margin-top: 4px;
    max-height: 5.6vh;
    min-height: 2.08vh;
    font-size: 0.88rem;
}


label {
    padding-top: 1.6vh;
    height: 1.6vh;
    margin-bottom: 0.8vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.72em;
    color: #113468;
    text-transform: uppercase;
}

.form p {
    margin-bottom: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.64em;
    color: #80543c;
}

input:focus {
    background-color: rgb(253, 247, 244);
}

.formbutton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -8%);
}

@media screen and (max-width: 902px) {
    .products {
        max-width: 42.4em;
    }
}